.li { 
    color: peru;
    list-style-type: none;
    align-items: inline;
    background-color: brown;
    display: inline;
    margin-inline: 20 px ;
    align-content: flex-end;
}
#l1 {
    margin-left: 15pt;
    margin-right: 15pt ;
    margin-top: 10pt ;
    margin-bottom: 10pt ;
}
#l2{
    margin-left: 15pt;
    margin-right: 15pt ;
    margin-top: 10pt ;
    margin-bottom: 10pt ;
}
#l3{
    margin-left: 15pt;
    margin-right: 15pt ;
    margin-top: 10pt ;
    margin-bottom: 10pt ;
}
#l4{
    margin-left: 15pt;
    margin-right: 15pt ;
    margin-top: 10pt ;
    margin-bottom: 10pt ;
}
#l5{
    margin-left: 15pt;
    margin-right: 15pt ;
    margin-top: 10pt ;
    margin-bottom: 10pt ;
}
#l6{
    margin-left: 15pt;
    margin-right: 15pt ;
    margin-top: 10pt ;
    margin-bottom: 10pt ;
}
#m {
 list-style-type: none;
 background-color: beige ;
 display: table-cell;
 scroll-behavior: smooth;

}

button {
    background-color: aquamarine;
    border-style: double;
}
html {
    background-color: darksalmon;
    border: 4em;
    font-family: Arial, Helvetica, sans-serif;
    font: normal;
    animation: alternate;
    border: darkgreen;
}
blockquote {
    background-image: unset;
    font-style: italic;
    align-content: center;}

    #p1{
        margin-left: 15pt
    }
